header.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.links {
    float: right;
    text-transform: uppercase;
}

div.links a {
    margin: auto 15px;
    color: var(--light-accent);
}